{% extends 'pages/view_snippets.html' %}
{% block my_snippets %}
{% for snippet in snippets %}
                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td><a href="{% url 'snippet-detail' snippet.id %}">{{ snippet.name }}</a>
                            <a href="{% url 'snippet-delete' snippet.id %}">
                                <i style="color: red" class="fa-solid fa-trash"></i>
                            </a>
                            <a href="{% url 'snippet-edit' snippet.id %}">
                                <i style="color: red" class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>{{ snippet.creation_date }}</td>
                        <td>{{ snippet.user.username }}</td>
                    </tr>
                    {% endfor %}
{% endblock %}